h1 { color: black !important; }
h2 { color: rgb(2, 2, 140) !important; }
h3 { color: rgb(0, 70, 0) !important; }
h4 { color: rgb(100, 24, 24) !important; }
h5 { color: rgb(73, 0, 73) !important; }
h6 { color: rgb(204, 102, 0) !important; font-size: 0.9em; font-weight: bold; }
