@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
  --font-ubuntu: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--font-ubuntu);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-ubuntu);
}
